/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background: url('../other/fon1.jpg')  0 0/cover no-repeat;
}

.fon {
	margin: auto;
	width: 840px;
	/* background: url('../other/fon1.jpg')  0 0/cover no-repeat; */
	font-family: 'Baskerville'sans-serif;
}

.header {
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	margin: 28px 0;
	color: #7d8b90;
	letter-spacing: 3px;
	margin-top: 70px;
}

.header-text {
	font-size: 33px;
	text-align: center;
	margin:0 46px 75px 46px;
	line-height: 50px;
}

.image img {
	width: 550px;
	margin: 5px 145px;
}

.paragraf {
	text-align: justify;
	font-size: 20px;
	margin: 100px 45px 50px 45px;
	line-height: 40px;
}

.paragraf p::first-letter {
	color: #2b736e;
	/* font-weight: 600; */
	font-size: 25px;
}


.paragraf-1 {
	margin-bottom: 45px;
}

.list li {
	margin-left: 40px;
	font-size: 18px;
	/* background: url('../other/what.jpg') 0 0/auto auto no-repeat; */
	/* background-position: 2px; */
	padding-left: 43px;
	line-height: 35px;
	position: relative;
}

.list li::before {
	content: '';
	background: url('../other/what.jpg') 0 0/auto auto no-repeat;
	width: 24px;
	height: 23px;
	position: absolute;
	top: 7px;
	left: 2.5px;
}

.li:hover {
	border-bottom: 1px solid #cecbcb;
	width: 400px;
}

.li1 {
	color: #80b7b3;
	font-style: italic;
}

.li1:hover {
	color: red;
	border-bottom: 1px solid #cecbcb;
	width: 400px;
}

.li1:hover::before {
	background: url('../other/red.jpg') 0 0/auto auto no-repeat;
	/* background-position: 2px; */
	width: 24px;
	height: 23px;
	position: absolute;
	top: 7px;
	left: 2.5px;
}

.li2 {
	font-weight: 600;
}

.li2:hover {
	font-weight: normal;
	font-style: oblique;
	border-bottom: 1px solid #cecbcb;
	width: 400px;
}

.li3 {
	color: #c2c8cb;
	text-decoration: line-through;
}

.li3:hover {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #cecbcb;
	width: 400px;
}

.button {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
	margin-top: 35px;
	margin-bottom: 40px;
	width: 180px;
	letter-spacing: 2px;
	padding-right: 35px;
	/* padding-left: 20px; */
	background: url('../other/strelka1.jpg') 88% 50% no-repeat;
	background-color: #80b7b3;
	/* padding-right: 35px; */
}

.button:hover {
	background: url('../other/strelka2.jpg') 88% 50% no-repeat;
	background-color: #2b736e;
}

.button:active {
	background: url('../other/strelka3.jpg') 88% 50% no-repeat;
	background-color: #8fa4a2;
}

.input {
	padding: 15px 25px;
	border: 0.5px solid #80b7b3;
	margin: 0 0 50px 45px;
	font-size: 15px;
}

.input:focus {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

